:root {
    font-size: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --dark: #1F1F1F;
    --light: #F1F1F1; 
    --teal: #1FB8B8;
    --ruby: #950E45; }

html,
body,
* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.5rem;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box; }

body {
    min-height: 100vh;
    background-color: var( --dark );
    display: grid;
    place-items: center;
    color: var( --light ); }

div {
    border: 2px solid var( --ruby );
    border-radius: 1rem;
    display: grid;
    grid-template: repeat( 3, min-content ) / repeat( 2, 25rem );

    grid-template-areas: 
        "input submit"
        "city temp"
        "icon icon";

    gap: 2rem; 
    text-align: center; 
    padding: 5rem; }

input,
button { 
    height: 5rem;
    border-radius: 1rem; }

input {
    grid-area: input;
    padding-inline: 2rem; }

button {
    grid-area: submit;
    cursor: pointer; 
    border: 2px solid var( --teal );
    background-color: var( --dark );
    color: var( --teal );

    transition:
        transform .15s ease-in-out,
        border-color .15s ease-in-out,
        color .15s ease-in-out; }

button:hover,
button:focus {
    background-color: var( --light );
    color: var( --dark );
    border-color: var( --light );
    transform: scale( 1.05 ); }

h1 { grid-area: city; }

p { grid-area: temp; }

img {
    grid-area: icon;
    justify-self: center;
    margin: -3rem;
    height: 10rem; }